* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0073ff;
}

.hand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.hand .finger1 {
  width: 50px;
  height: 144px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  -webkit-animation: top 0.6s ease-in 0.1s infinite alternate both;
          animation: top 0.6s ease-in 0.1s infinite alternate both;
}

.hand .finger2 {
  width: 50px;
  height: 170px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  -webkit-animation: top 0.6s ease-in 0.2s infinite alternate both;
          animation: top 0.6s ease-in 0.2s infinite alternate both;
}

.hand .finger3 {
  width: 50px;
  height: 187px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  -webkit-animation: top 0.6s ease-in 0.3s infinite alternate both;
          animation: top 0.6s ease-in 0.3s infinite alternate both;
}

.hand .finger4 {
  width: 50px;
  height: 170px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  -webkit-animation: top 0.6s ease-in 0.4s infinite alternate both;
          animation: top 0.6s ease-in 0.4s infinite alternate both;
}

.hand .finger5 {
  width: 85px;
  height: 85px;
  background: #fff;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 30px;
  position: relative;
  -webkit-animation: finger5 0.6s ease-in 0.4s infinite alternate both;
          animation: finger5 0.6s ease-in 0.4s infinite alternate both;
}

.hand .finger5::after {
  position: absolute;
  top: -35px;
  left: 0px;
  content: "";
  width: 100px;
  height: 70px;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 10px;
  background-color: #0073ff;
}

@-webkit-keyframes finger5 {
  to {
    -webkit-transform: rotate(-2deg) translateY(-15px);
            transform: rotate(-2deg) translateY(-15px);
  }
}

@keyframes finger5 {
  to {
    -webkit-transform: rotate(-2deg) translateY(-15px);
            transform: rotate(-2deg) translateY(-15px);
  }
}

.hand .line1 {
  line-height: 2;
  position: absolute;
  top: 7px;
  left: 10px;
  width: 30px;
  height: 4px;
  padding-top: 0px;
  background-color: #0073ff;
  -webkit-animation: top-line 0.6s ease-in 0.4s infinite alternate both;
          animation: top-line 0.6s ease-in 0.4s infinite alternate both;
}

.hand .line2 {
  line-height: 2;
  position: absolute;
  top: 15px;
  left: 10px;
  width: 30px;
  height: 4px;
  padding-top: 0px;
  background-color: #0073ff;
  -webkit-animation: top-line 0.6s ease-in 0.4s infinite alternate both;
          animation: top-line 0.6s ease-in 0.4s infinite alternate both;
}

.hand .nail {
  position: absolute;
  bottom: 5px;
  left: 7.5px;
  width: 35px;
  height: 33px;
  background-color: #0073ff;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 27px;
  -webkit-animation: top-line 0.6s ease-in 0.3s infinite alternate both;
          animation: top-line 0.6s ease-in 0.3s infinite alternate both;
}

@-webkit-keyframes top {
  to {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@keyframes top {
  to {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@-webkit-keyframes top-line {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes top-line {
  to {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
/*# sourceMappingURL=style.css.map */